    #a{
    margin: 10px;
    
    font-family: "Times New Roman", "Times", "serif";
    
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color:lightcoral;    
    font-family: serif;
}

body {
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
}
#gmode{
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    margin-top:70px
}

#spmode, #dpmode{
    
    text-align: center;
    font-size: 30px;
    color: #000;
    background-color: lightcoral;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    width:500px;
    height: 230px;
    display: none;
    border-color: #000;
    border-style: dashed;
    border-width: 2px;
}
input[type=text] {
    border-radius: 5px;
    background-color: #3CBC8D;
    color: white;
    font-size: 25px;
  }
  button[type='player'] {
    background-color:#f4f4f4;
    color: black;
    font-size: 15px;
    padding: 5px 18px;
    border-radius: 12px;
    border: 2px solid #4CAF50; /* Green */
  }
  


button[id="mode"]{
    border: 2px solid black;
    padding: 8px 25px;
	text-align: center;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	border-radius: 7mm;
    
}
button[id="mode"]:hover{
        background-color: black;
        color: white;
}

button[id="choicex"], button[id="choiceo"]{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: medium;
	font-weight: bold;
	font-family: 'Rock Salt', cursive;
	border-radius: 3mm;
}

button[id="choicex"]:hover, button[id="choiceo"]:hover{
    background-color: #2196F3;
    color: white;
}



#board{
    font-size:70px;
    margin-top: 100px;
    width: 320px;
    height: 320px;
    border-collapse:collapse;
    display: none;
    background-color: #3CBC8D;
    
    text-align: center;
    padding : 10px;
    margin-left: auto;
    margin-right: auto;
    
  }
  table{
    font-size:70px;
    border-collapse:collapse;
 
  }
  td{
    border-style: solid;
    border-width: 5px;
    height:100px;
    width:100px;
    text-align:center;
  }
  table tr:first-child td {
    border-top:0;
  }
  
  table tr:last-child td {
    border-bottom:0;
  }

  table tr td:first-child{
    border-left:0;
  }
  table tr td:last-child{
    border-right:0;
  }
  
  
  button[id="reset"]{
    font-size: 20px;
    margin-top: 30px;
    float: left;
    padding: 5px 4px;
    background-color: #f4f4f4;
    display: inline;
  }

  button[id="resetmode"]{
    font-size: 20px;
    margin-top: 30px;
    float: right;
    padding: 5px 4px;
    background-color: #f4f4f4;
    display: inline;
  }

  
  #endgame{
    display:none;
    
    height: 80px;
    width:320px;
    background-color:lightcoral;
    
    margin-top: 20px;
    margin-right: auto;
    margin-right: auto;
    
    font-size: 50px;
    text-align:center;
}

